<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<title>Employees list</title>
</head>
<body>
	<div class="container" >
		<h3>Employees list</h3>
		<hr>
		
		<!--  Add a button -->
		<a th:href ="@{/employees/showFormAdd}"
				class="btn btn-primary btn-sm mb-3">
			Add Employee
		</a>
		<table class="table table-bordered-table-striped">
			<thead class="thead-dark">
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
			</thead>
			<tbody>
				<tr th:each="theEmployee : ${employees}">
					<td th:text="${theEmployee.firstName}"/>
					<td th:text="${theEmployee.lastName}"/>
					<td th:text="${theEmployee.email}"/>
				</tr>
			</tbody>
		</table>
	</div>	
</body>
</html>